deb [arch={% if ansible_architecture == "x86_64" %}amd64{% elif ansible_architecture == "armv7l" %}armhf{% endif %} signed-by=/usr/share/keyrings/docker.gpg] https://download.docker.com/linux/debian {{ ansible_distribution_release }} stable
